@mixin font-face($font-name, $path) {
  @font-face {
    font-family: quote($font-name);
    src: url($path);
  }
}
@include font-face(segoeui, "../../../fonts/Segoe-UI-Font/SEGOEUI.TTF");

#footer {
  width: 100%;
  font-family: 'segoeui';
  background-color: #f2f2f2;

  .top-footer-box {
    width: 100%;

    .top-footer-img {
      width: 100%;
    }
  }

  .footer-menu-box {
    background-color: #4C6075;
    margin-top: -10px;
    padding-top: 30px;

    .footer-menu {
      width: 80%;
      margin: 0 auto;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      text-align: center;
      color: #fff;

      div {
        a {
          text-decoration: none;
          color: #fff;
        }

        a:hover {
          text-decoration: underline;
        }
      }

      div:first-child {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
      }

      .middle-div {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        div {
          position: static;
          width: 1px;
          height: 24px;
          left: 104.33px;
          top: 0;
          background: linear-gradient(180deg, rgba(189, 189, 189, 0) 0%, #BDBDBD 53.96%, rgba(189, 189, 189, 0) 111.43%);
          border-radius: 3px;
        }
      }

      div:last-child {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
      }
    }
  }

  .bct-box {
    background-color: #4C6075;
    text-align: center;
    padding: 40px;
    margin-top: -1px;

    img {
      width: 50%;
    }
  }

  .business-info-box {
    background-color: #4C6075;
    text-align: center;
    color: #fff;
    padding: 0 30px 30px;
    margin-top: -1px;

    h3,
    p {
      margin-bottom: 16px;
    }

    p:first-child {
      font-weight: 700;
    }

    p:last-child {
      margin-bottom: 10px;
    }
  }
}

@media screen and (min-width: 737px) and (max-width: 1023px) {
  #footer {
    width: 80%;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1024px) {
  #footer {
    width: 50%;
    margin: 0 auto;
  }
}
